<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<div class="">
  <% @areas2.each do |a| %>
    <span>Nombre categoría: <%= a.name%></span>
    <span> | Cantidad de empleados: <%= a.employees.count%></span>
    <br>
  <% end %>
</div>



<div class="col-lg-6">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= link_to company.name, company %></td>
          <td><%= link_to 'Edit', edit_company_path(company), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>


      <% end %>
    </tbody>
  </table>
</div>



<br>

<%= link_to 'New Company', new_company_path %>
